<div class="mood-page">
  <div class="question-title">
    <h1>Question 2</h1>
    <p>Sed si ille hac tam eximia fortuna propter utilitatem rei publicae frui non properat, ut omnia illa conficiat, quid ego, senator, facere debeo, quem, etiamsi ille aliud vellet, rei publicae consulere oporteret?
    </p>
  </div>
  <div class="container mood-choices">
    <div class="row">
      <div class="col-xs-6">
        <div class="mood-card" id="mood-fancy">
          <%= simple_form_for [@project, @mood] do |f| %>
            <%= f.hidden_field :step, value: 'lifestyle' %>
            <%= f.hidden_field :fancy, value: true %>
            <%= f.submit 'Something fancy?', class: "button_secondary" %>
          <% end %>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="mood-card" id="mood-trashy">
          <%= simple_form_for [@project, @mood] do |f| %>
            <%= f.hidden_field :step, value: 'lifestyle' %>
            <%= f.hidden_field :trashy, value: true %>
            <%= f.submit "Let's go trashy?", class: "button_secondary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
