<div class="mood-page">
  <div class="question-title">
    <h2>Question 2</h2>
    <p><i class="far fa-hand-point-right"></i> What will be the right mood to please your friend?
    </p>
  </div>
  <div class="container mood-choices">
    <div class="row">
      <div class="col-xs-6">
        <div class="mood-card" id="mood-fancy">
          <%= simple_form_for [@project, @mood] do |f| %>
            <%= f.hidden_field :step, value: 'lifestyle' %>
            <%= f.hidden_field :fancy, value: true %>
            <%= f.submit 'Something fancy?', class: "button_secondary hvr-pop" %>
          <% end %>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="mood-card" id="mood-trashy">
          <%= simple_form_for [@project, @mood] do |f| %>
            <%= f.hidden_field :step, value: 'lifestyle' %>
            <%= f.hidden_field :trashy, value: true %>
            <%= f.submit "Let's go trashy?", class: "button_secondary hvr-pop" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
