<div class="mood-page">
  <div class="question-title">
    <h1>Question 3</h1>
    <p><i class="far fa-hand-point-right"></i> Last but not least: what kind of party people are you?
    </p>
  </div>
  <div class="container mood-choices">
    <div class="row">
      <div class="col-xs-6">
        <div class="mood-card" id="mood-club">
          <%= simple_form_for [@project, @mood] do |f| %>
            <%= f.hidden_field :clubbing, value: true %>
            <%= f.submit 'Clubbing?', class: "button_secondary hvr-pop" %>
          <% end %>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="mood-card" id="mood-chill">
          <%= simple_form_for [@project, @mood] do |f| %>
            <%= f.hidden_field :chilling, value: true %>
            <%= f.submit "Chilling?", class: "button_secondary hvr-pop" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
