<div class="mood-page">
  <div class="question-title">
    <h1>Question 1</h1>
    <p><i class="far fa-hand-point-right"></i> Which scenery do you think will make this week-end truly special?
    </p>
  </div>
  <div class="container mood-choices">
    <div class="row">
      <div class="col-xs-6">
        <div class="mood-card" id="mood-wild">
          <%= simple_form_for [@project, @mood] do |f| %>
            <%= f.hidden_field :step, value: 'scenery' %>
            <%= f.hidden_field :wild, value: true %>
            <%= f.submit 'Into the Wild?', class: "button_secondary" %>
          <% end %>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="mood-card" id="mood-city">
          <%= simple_form_for [@project, @mood] do |f| %>
            <%= f.hidden_field :step, value: 'scenery' %>
            <%= f.hidden_field :city, value: true %>
            <%= f.submit 'City Break?', class: "button_secondary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
