<div class="mood-page">
  <div class="question-title">
    <h2>Question 4</h2>
    <p><i class="far fa-hand-point-right"></i> This is all about you now! We need some basic information before we move on to the fun part.
    </p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-6" id="weekend-choices">
        <div class="row">
          <h3><i class="far fa-calendar-alt"></i> Confirm your schedule</h3>
          <p><%= @admin %> has already defined the period when the week-end should take place but we still need to know which ones work for you! Once we know this we will let you know which week-end maximizes attendance in your team.
          </p>
          <p class="violet-p">Please click on the week-ends when you plan to be available:</p>
        </div>
        <div class="container" id="weekends-list">
          <div class="row">
            <% @week_ends.each do |week_end| %>
            <div class="col-xs-6">
              <%= link_to like_week_end_path(week_end), method: :put,class: "weekend-button #{"visited" unless week_end.get_upvotes.find_by(voter_id: current_user.id).nil?}"  do %>
                <%= week_end.start_date.strftime('%b, %d') %> to <%= week_end.end_date.strftime('%b, %d') %>
              <% end %>
            </div>
          <% end %>
          </div>
        </div>
      </div>
      <div class="col-xs-6" id="budget-input">
        <h3><i class="fas fa-hand-holding-usd"></i></i> Define your budget</h3>
        <p>How much are you willing to spend for this week-end? Please provide your best estimate. We will compute your input together with the answers of your team and let you know the final average budget per person later.
        </p>
        <p class="violet-p"><%= @admin %> has set the maximum budget/person to: <%= @project.max_budget %>€</p>
        <%= simple_form_for @guest do |f| %>
          <%= f.input :budget, placeholder: 'ex: 300€' %>
          <%= f.submit 'Done', class: "button_primary hvr-pop", id: "submit_guest_budget" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
