<%= stylesheet_pack_tag 'banner' %>

<div class="banner"
     data-images="<%= ['slider1.jpg', 'slider2.jpg', 'slider3.jpg', 'slider4.jpg', 'slider5.jpg'].map{ |img| { src: image_path(img) }}.to_json %>">
     <div class="banner-filter">
        <h1 data-aos="fade-right" data-aos-duration="2000">Create your <br>bachelor party <br>easy-peasy.</h1>
        <%= link_to "Try it now", new_project_path, class: "button_primary hvr-pop" %>
        <div id="project-counter" class="button_secondary">
          <h4>#<%= @projects.count %> teams are already using Harry</h4>
          <%= image_tag("logo_white.png") %>
        </div>
      </div>
</div>

<div id="home-description">
  <div id="home-spec" id="home-description" data-aos="fade-up" data-aos-easing="linear"data-aos-duration="700">
    <div id="home-calculate">
      <div class="home-icon"><%= image_tag "budget_icon.png"%></div>
      <p>Calculate your week-end budget to fit every pockets.</p>
    </div>
    <div id="home-date">
      <div class="home-icon"><%= image_tag "schedule_icon.jpg"%></div>
      <p>Quickly identify the best date for the event.</p>
    </div>
    <div id="home-activities">
      <div class="home-icon"><%= image_tag "like_icon_beer.png"%></div>
      <p>Select the right activities and destination to please your close one.</p>
    </div>
    <div id="home-evaluation">
      <div class="home-icon"><%= image_tag "idea_icon.jpg"%></div>
      <p>Evaluate your options and build your program.</p>
    </div>
  </div>
  <div id="home-illustration" id="home-description" data-aos="fade-down" data-aos-easing="linear"data-aos-duration="700">
    <h2> No more tears, no more fights, let harry do the work.</h2>
    <div class="home-icon"><%= image_tag "illustration_home.png"%></div>

  </div>
</div>

<div class="separator big" id="cta">
  <div class="call-to-action">
    <h4 class="">Invite your crew, Generate ideas, Enjoy your trip.</h4>
    <%= link_to "Get started", new_project_path, class: "button_secondary hvr-pop" %>
  </div>
  <div class="home-img-intermediate-size">
    <%= image_tag("logo_white.png")%>
  </div>
</div>

<div id="reviews-block">
    <h2 style="text-align: center;">Harry makes you happy</h2>
  <div class="home-review">
    <div class="card" id="card1" data-aos="fade-right" data-aos-duration="1000">
      <div class="card-stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div>
      <div class="card-description">
        <h3>5-stars</h3>
        <p>Such an awesome tool! We managed to plan an amazing bachelor party in no time, hassle-free and super efficient :) thank you so much team Harry you rock!</p>
      </div>
       <div class="card-user"><%= image_tag("avatar1.png")%></div>
    </div>
    <div class="card" id="card2" data-aos="fade-down" data-aos-duration="600">
      <div class="card-stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div>
      <div class="card-description">
        <h3>Fun & Fast</h3>
        <p>Before Harry, my friends and I spent so much time trying to find a common slot. It never worked out and was super frustrating! Thanks to Harry we planned the perfect party in just 3 days! </p>
      </div>
      <div class="card-user"><%= image_tag("avatar2.png")%></div>
    </div>
    <div class="card" id="card3" data-aos="fade-left" data-aos-duration="600">
      <div class="card-stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div>
      <div class="card-description">
        <h3>Really easy</h3>
        <p>I used this website for three bachelor parties already and it saved my life everytime, it was so easy to use and made the whole process super efficient! I highly recommmend it!</p>
      </div>
      <div class="card-user"><%= image_tag("avatar3.png")%></div>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'banner' %>
