<div id="inputs-form">
  <h2>What do you have in mind?</h2>
  <div id="form-div">
    <%= simple_form_for @activity do |f| %>
        <%= f.input_field :name, :placeholder => "ex: Lisbon" %>
        <input type="text" name="project" class="hidden" value= <%= @project.id %>>
        <%= f.select :category, Category: ["Destination", "Day Activity", "Night Activity"] %>
      <%= f.submit 'add', class: "button_secondary", id: "activity_submit" %>
    <% end %>
  </div>

</div>

<div class="container" id="ideas-results">
  <h2>Your team ideas:</h2>
  <div class="row" id="ideas-rows">
    <div class="col-xs-2">
      <h4>Destinations</h4>
      <p>&ensp;<i class="fas fa-arrow-right"></i> <%= @project.destinations.count %> ideas</p>
    </div>
    <div class="col-xs-10 container">
      <div class="row">
        <% @project.destinations.each do |destination| %>
          <div class="col-xs-3">
            <div class="button_primary" id="destination"><i class="fas fa-map-marker-alt"></i> <%= destination.name %></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row" id="ideas-rows">
    <div class="col-xs-2">
      <h4>Day Activities</h4>
      <p>&ensp;<i class="fas fa-arrow-right"></i> <%= @project.activities.where(category: "Day").count %> ideas</p>
    </div>
    <div class="col-xs-10 container">
      <div class="row">
        <% @project.activities.where(category: "Day").each do |activity| %>
          <div class="col-xs-3">
            <div class="button_secondary" id="day-activity"><i class="fas fa-sun"></i> <%= activity.name %></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row" id="ideas-rows">
    <div class="col-xs-2">
      <h4>Night Activities</h4>
      <p>&ensp;<i class="fas fa-arrow-right"></i> <%= @project.activities.where(category: "Night").count %> ideas</p>
    </div>
    <div class="col-xs-10 container">
      <div class="row">
        <% @project.activities.where(category: "Night").each do |activity| %>
          <div class="col-xs-3">
            <div class="button_secondary" id="night-activity"><i class="fas fa-moon"></i> <%= activity.name %></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div id="ideas-done">
    <a href="#" class="button_primary">next</a>
  </div>
</div>
