<div id="inputs-form">
  <h2>What do you have in mind?</h2>
  <div id="form-div">
    <%= render 'projects/activity_form', project: @project, activity: @activity %>
  </div>

</div>

<div class="container" id="ideas-results">
  <h2>Your team ideas:</h2>
  <div class="row" id="ideas-rows">
    <div class="col-xs-2">
      <h4>Destinations</h4>
        <p>&ensp;<i class="fas fa-arrow-right"></i> <span id='destinations-count'><%= @project.destinations.count %></span> ideas</p>
    </div>
    <div class="col-xs-10 container">
      <div class="row" id='destinations'>
        <% @project.destinations.each do |destination| %>
          <%= render 'activities/destination', destination: destination %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row" id="ideas-rows">
    <div class="col-xs-2">
      <h4>Day Activities</h4>
      <p>&ensp;<i class="fas fa-arrow-right"></i> <span id='day-activity-count'><%= @project.activities.where(category: "day").count %></span> ideas</p>
    </div>
    <div class="col-xs-10 container">
      <div class="row" id='day-activities'>
        <% @project.activities.where(category: "day").each do |activity| %>
          <%= render 'activities/day_activity', activity: activity %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row" id="ideas-rows">
    <div class="col-xs-2">
      <h4>Night Activities</h4>
      <p>&ensp;<i class="fas fa-arrow-right"></i> <span id='night-activity-count'><%= @project.activities.where(category: "night").count %></span> ideas</p>
    </div>
    <div class="col-xs-10 container">
      <div class="row" id='night-activities'>
        <% @project.activities.where(category: "night").each do |activity| %>
          <%= render 'activities/night_activity', activity: activity %>
        <% end %>
      </div>
    </div>
  </div>
<div id="ideas-done2">
  <%= link_to "done", step3_project_path(@project), class: "button_primary hvr-pop" %>
</div>
</div>
