<% a = ['avatar1.png', 'avatar2.png', 'avatar3.png', 'avatar4.png', 'avatar5.png'] %>


<div id="banner_results">
  <div id="results_modal" data-aos="fade-up" data-aos-duration="700">
    <div id="results_avatar">
      <% @guests.each do |guest| %>
        <% if guest.user.picture.present? %>
          <%= cl_image_tag guest.user.picture, :aspect_ratio=>"1:1", :background=>"#262c35", :gravity=>"auto", :radius=>"max", :crop=>"fill" , class:"avatar" %>
          <% else %>
          <%= image_tag a.sample %>
        <% end %>
      <% end %>
    </div>
    <div id="results_title"><h1><%= @project.name %></h1></div>
    <div id="results_logo"> <%= image_tag("logo_black.png") %> </div>
    <h2> Well done crew ! Find your results below:</h2>
    <div class="button_primary final-destination" id="#destination">
      <i class="fas fa-map-marker-alt"></i>
      <%= @top_destination.name%>
    </div>


      <div class="day-activity_align">
        <% @top_day_activities.each do |activity|%>
          <div class="button_secondary" id="day-activity">
            <i class="fas fa-sun"></i> <%= activity.name %>
          </div>
        <% end %>
      </div>

      <div class="night-activity_align">
        <% @top_night_activities.each do |activity|%>
          <div class="button_secondary" id="night-activity">
            <i class="fas fa-moon"></i> <%= activity.name %>
          </div>
        <% end %>
      </div>

    <div class="results-we-budget">
      <div id="weekend-option">
        <i class="fas fa-hand-holding-usd"></i>
        <%= @average_budget%> € /person
      </div>
    </div><br>
    <div id="airbnb-link" class="hvr-grow">
      <a href='https://www.airbnb.fr/s/<%= @top_destination.name %>/homes?refinement_paths%5B%5D=%2Fhomes&allow_override%5B%5D=&checkin=<%= @top_weekend.start_date %>&checkout=<%= @top_weekend.end_date %>&adults=<%= @guests.count %>' target="_blank">
      <%= image_tag "airbnblogo_red.png" %>
      <h4>Book now in <%= @top_destination.name %> from  <%= @top_weekend.start_date.strftime('%b, %d')%> to <%= @top_weekend.end_date.strftime('%b, %d')%></h4></a>
    </div>
  </div>
</div>


