<% a = ['avatar1.png', 'avatar2.png', 'avatar3.png', 'avatar4.png', 'avatar5.png'] %>

<div class="banner-step2">
    <div class="avatar-step2">
    <h1><%= @project.name.capitalize %></h1>
        <% @guests.each do |guest| %>
            <%= image_tag a.sample %>
        <% end %>
    </div>
    <div class="results-budget-date">
      <h4><%= @average_budget%>€ /person <i class="fas fa-hand-holding-usd"></i></h4>
      <h4>Jul, 06 to Jul, 08 <i class="far fa-calendar-alt"></i></h4>
    </div>
</div>


<div class="step2-description">
  <div class="step1-text">
  <h1>Step 2.</h2>
  <h3>Bring it on!</h3>
  <p id="p-step2">Sed si ille hac tam eximia fortuna propter utilitatem rei publicae frui non properat, ut omnia illa conficiat, quid ego, senator, facere debeo, quem, etiamsi ille aliud vellet, rei publicae consulere oporteret?
  </p>
  <h4>Minimum 3 suggestions</p>
  <h4>Estimated time to complete: 5 minutes</p>

</div>
  <div class="step2-moods">
    <h4>Moods results:</h4>
      <div class="step2-moods-wrapper">
        <div class="step2-images">
          <%if @moods_city >= @moods_wild %>
            <%= image_tag 'city.jpg' %>
            <%else %>
            <%= image_tag 'wild5.jpg' %>
          <% end %>
          <div class="button_secondary percentage"> <%= number_to_percentage(@moods_scenery_percentage, precision: 0) %> <%= @moods_scenery%> </div>
        </div>
        <div class="step2-images">
            <%if @moods_fancy >= @moods_trashy %>
              <%= image_tag 'fancy2.jpg' %>
              <%else %>
              <%= image_tag 'springbreak.jpg' %>
            <% end %>
            <div class="button_secondary percentage"> <%= number_to_percentage(@moods_lifestyle_percentage, precision: 0) %> <%= @moods_lifestyle%> </div>
        </div>
        <div class="step2-images">
            <%if @moods_clubbing >= @moods_chilling %>
              <%= image_tag 'clubbing3.jpg' %>
              <%else %>
              <%= image_tag 'chillparty.jpg' %>
            <% end %>
            <div class="button_secondary percentage"> <%= number_to_percentage(@moods_party_percentage, precision: 0) %> <%= @moods_party%> </div>
        </div>
      </div>
  </div>
<div id="ideas-done">
  <%= link_to 'Start', ideas_project_path(@project), class: "button_primary hvr-pop" %>
</div>
</div>
