<% a = ['avatar1.png', 'avatar2.png', 'avatar3.png', 'avatar4.png', 'avatar5.png'] %>

<div class="banner-step2">
    <div class="avatar-step2">
    <h1><%= @project.name %></h1>
        <% @guests.each do |guest| %>
        <% if guest.user.picture.present? %>
          <%= cl_image_tag guest.user.picture, :aspect_ratio=>"1:1", :background=>"#262c35", :gravity=>"auto", :radius=>"max", :crop=>"fill" , class:"avatar" %>
          <% else %>
          <%= image_tag a.sample %>
        <% end %>
      <% end %>
    </div>
    <div class="results-budget-date">
      <h4><%= @average_budget%>€ /person <i class="fas fa-hand-holding-usd"></i></h4>
      <h4><%= @top_weekend.start_date.strftime('%b, %d')%> to <%= @top_weekend.end_date.strftime('%b, %d')%> (<%=@weekend_votes%>/<%= @guests.count %> available) <i class="far fa-calendar-alt"></i></h4>
    </div>
</div>


<div class="step2-description">
  <div class="step1-text" data-aos="fade-right" data-aos-duration="1000">
  <h3>Step 2.</h3>
  <h1>Suggest ideas</h1>
  <p id="p-step2">Bring it on! This is the most critical step in the process: making suggestions for your week-end. Refer to the mood results before your jump into the brain juicing phase, they reflect your team spirit.
  </p>
</div>
  <div class="step2-moods">
    <h4>Mood results:</h4>
      <div class="step2-moods-wrapper">
        <div class="step2-images">
          <%if @moods_city >= @moods_wild %>
            <%= image_tag 'city.jpg' %>
            <%else %>
            <%= image_tag 'wild5.jpg' %>
          <% end %>
          <div class="button_secondary percentage"> <%= number_to_percentage(@moods_scenery_percentage, precision: 0) %> <%= @moods_scenery%> </div>
        </div>
        <div class="step2-images">
            <%if @moods_fancy >= @moods_trashy %>
              <%= image_tag 'fancy2.jpg' %>
              <%else %>
              <%= image_tag 'springbreak.jpg' %>
            <% end %>
            <div class="button_secondary percentage"> <%= number_to_percentage(@moods_lifestyle_percentage, precision: 0) %> <%= @moods_lifestyle%> </div>
        </div>
        <div class="step2-images">
            <%if @moods_clubbing >= @moods_chilling %>
              <%= image_tag 'clubbing3.jpg' %>
              <%else %>
              <%= image_tag 'chillparty.jpg' %>
            <% end %>
            <div class="button_secondary percentage"> <%= number_to_percentage(@moods_party_percentage, precision: 0) %> <%= @moods_party%> </div>
        </div>
      </div>
  </div>
</div>
<div class="ideas-done">
  <p>Minimum 3 suggestions <br><i class="fas fa-stopwatch"></i> 3 minutes</p>
  <%= link_to 'Start', ideas_project_path(@project), class: "button_primary hvr-pop" %>
</div>
