<% a = ['avatar1.png', 'avatar2.png', 'avatar3.png', 'avatar4.png', 'avatar5.png'] %>

<div class="banner-step2">
    <h1><%= @project.name.capitalize %></h1>
   <div class="banner-wrapper">
    <div class="avatar-step2">
      <% @guests.each do |guest| %>
          <%= image_tag a.sample %>
      <% end %>
    </div>
    <div class="results-budget">
      <%= @average_budget%>/€pers
    <%= image_tag 'budget_icon2.png' %>
    </div>
    <div class="results-date">
      <%= @top_weekend.start_date.strftime('%b, %d')%> to <%= @top_weekend.end_date.strftime('%b, %d')%> (<%=@guest_number%>/<%= @weekend_votes.count %> available)
    <%= image_tag 'calendar_icon2.png' %>
    </div>
   </div>
</div>


<div class="step2-description">
  <div class="step2-text">
  <h2>Step 2.</h2>
  <h3>Bring it on!</h3>
  <p>Sed si ille hac tam eximia fortuna propter utilitatem rei publicae frui non properat, ut omnia illa conficiat, quid ego, senator, facere debeo, quem, etiamsi ille aliud vellet, rei publicae consulere oporteret?
  </p>
  <p>Minimum 3 suggestions</p>
  <p>Estimated time to complete: 5 minutes</p>

</div>
  <div class="step2-moods">
    <h3>Moods results:</h3>
      <div class="step2-moods-wrapper">
        <div class="step2-images">
          <%if @moods_city >= @moods_wild %>
            <%= image_tag 'city.jpg' %>
            <%else %>
            <%= image_tag 'wild5.jpg' %>
          <% end %>
          <div class="percentage"> <%= number_to_percentage(@moods_scenery_percentage, precision: 0) %> <%= @moods_scenery%> </div>
        </div>
        <div class="step2-images">
            <%if @moods_fancy >= @moods_trashy %>
              <%= image_tag 'fancy2.jpg' %>
              <%else %>
              <%= image_tag 'springbreak.jpg' %>
            <% end %>
            <div class="percentage"> <%= number_to_percentage(@moods_lifestyle_percentage, precision: 0) %> <%= @moods_lifestyle%> </div>
        </div>
        <div class="step2-images">
            <%if @moods_clubbing >= @moods_chilling %>
              <%= image_tag 'clubbing3.jpg' %>
              <%else %>
              <%= image_tag 'chillparty.jpg' %>
            <% end %>
            <div class="percentage"> <%= number_to_percentage(@moods_party_percentage, precision: 0) %> <%= @moods_party%> </div>
        </div>
      </div>
  </div>
</div>
<div class="button_primary btn-step2">
  <%= link_to 'Start', ideas_project_path(@project) %>
</div>
