<div id="title-votes">
  <h2>Click on the ideas you like to show your preferences</h2>
</div>

<div class="container" id="ideas-results">
  <div class="row" id="votes-rows">
    <div class="col-xs-2">
      <h4>Destinations</h4>
      <div id="ideas-count">&ensp;<i class="fas fa-arrow-right"></i> <%= @destinations.count %> ideas</div>
    </div>
    <div class="col-xs-10">
      <div class="row">
        <% @destinations.each do |destination| %>
          <div class="col-xs-3">
            <div class = "button_destination" id="">
              <p><i class="fas fa-map-marker-alt icon-marged-right"></i> <%= destination.name %>
              </p>
                <%= link_to like_destination_path(destination), method: :put, remote: true, id: "like-button", class: "button_primary badge-vote hvr-pop" do %>
                  <i class="fas fa-thumbs-up"></i>
                  <span data-destination-id='<%= destination.id %>'><%= destination.get_upvotes.size %></span>
                <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row" id="votes-rows">
    <div class="col-xs-2">
      <h4>Day Activities</h4>
      <div id="ideas-count">&ensp;<i class="fas fa-arrow-right"></i> <%= @day_activities.count %> ideas</div>
    </div>
    <div class="col-xs-10">
      <div class="row">
        <% @day_activities.each do |activity| %>
          <div class="col-xs-3">
            <div class = "button_activity" id="">
              <p><i class="fas fa-sun icon-marged-right"></i> <%= activity.name %>
              </p>
                <%= link_to like_activity_path(activity), method: :put, remote: true, id: "like-button", class: "button_primary badge-vote hvr-pop" do %>
                  <i class="fas fa-thumbs-up"></i>
                  <span data-day-activity-id='<%= activity.id %>'><%= activity.get_upvotes.size %></span>
                <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>


   <div class="row" id="votes-rows">
    <div class="col-xs-2">
      <h4>Night Activities</h4>
      <div id="ideas-count">&ensp;<i class="fas fa-arrow-right"></i> <%= @night_activities.count %> ideas</div>
    </div>
    <div class="col-xs-10">
      <div class="row">
        <% @night_activities.each do |activity| %>
          <div class="col-xs-3">
            <div class = "button_activity" id="night">
              <p><i class="fas fa-moon icon-marged-right"></i> <%= activity.name %>
              </p>
                <%= link_to like_activity_path(activity), method: :put, remote: true, id: "like-button", class: "button_primary badge-vote hvr-pop" do %>
                  <i class="fas fa-thumbs-up"></i>
                  <span data-night-activity-id='<%= activity.id %>'><%= activity.get_upvotes.size %></span>
                <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div id="ideas-done2">
    <%= link_to "results", results_project_path(@project), class: "button_primary hvr-pop" %>
  </div>
</div>

