<div class="container" id="ideas-results">
  <h2>Click on the ideas you like </h2>
  <div class="row" id="votes-rows">
    <div class="col-xs-3">
      <h4> Day Activities </h4>
    </div>
    <div class="col-xs-9">
      <div class="row">
        <% @day_activities.each do |activity| %>
          <div class="col-xs-4">
            <div class = "button_secondary" id="day-activity">
              <p><%= activity.name %>
                <%= link_to like_activity_path(activity), method: :put, class: "button_primary badge-vote" do %>
                  <i class="fas fa-thumbs-up"></i>
                  <%= activity.get_upvotes.size %>
                <% end %>
              </p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>


   <div class="row" id="votes-rows">
    <div class="col-xs-3">
      <h4> Night Activities </h4>
    </div>
    <div class="col-xs-9">
      <div class="row">
        <% @night_activities.each do |activity| %>
          <div class="col-xs-4">
            <div class = "button_secondary" id="day-activity">
              <p><%= activity.name %>
                <%= link_to like_activity_path(activity), method: :put, class: "button_primary badge-vote" do %>
                  <i class="fas fa-thumbs-up"></i>
                  <%= activity.get_upvotes.size %>
                <% end %>
              </p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row" id="votes-rows">
    <div class="col-xs-3">
      <h4> Destinations </h4>
    </div>
    <div class="col-xs-9">
      <div class="row">
        <% @destinations.each do |destination| %>
          <div class="col-xs-4">
            <div class = "button_secondary" id="day-activity">
              <p><%= destination.name %>
                <%= link_to like_destination_path(destination), method: :put, class: "button_primary badge-vote" do %>
                  <i class="fas fa-thumbs-up"></i>
                  <%= destination.get_upvotes.size %>
                <% end %>
              </p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div id="ideas-done">
    <%= link_to "done", step3_project_path(@project), class: "button_primary" %>
  </div>
</div>

