<div>
  <h2>Click on the ideas you like </h2>
  <% @activities.each do |activity| %>
    <h4><%= link_to activity.name %><br>
      Submitted <%= time_ago_in_words(activity.created_at) %> ago
      by <%= activity.project.user.email %>
      <%= link_to like_activity_path(activity), method: :put do %>
        <i class="fas fa-thumbs-up"></i>
        <%= activity.get_upvotes.size %>
      <% end %>
    </h4>
  <% end %>
</div>

